/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1A73E8; /* Electric Blue */
  --ifm-color-secondary: #39FF14; /* Neon Green */
  --ifm-color-accent: #8B5CF6; /* Violet Radiance */
  --ifm-background-color: #F5F7FA; /* Soft White */
  --ifm-font-color-base: #2E2E2E; /* Graphite Gray */
  --ifm-color-primary-dark: #1557B0;
  --ifm-color-primary-darker: #1452A6;
  --ifm-color-primary-darkest: #114488;
  --ifm-color-primary-light: #3B89F1;
  --ifm-color-primary-lighter: #4793F2;
  --ifm-color-primary-lightest: #6AACF5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-background-color: #0A0A0A; /* Midnight Black */
  --ifm-color-primary: #3B89F1;
  --ifm-color-primary-dark: #1557B0;
  --ifm-color-primary-darker: #1452A6;
  --ifm-color-primary-darkest: #114488;
  --ifm-color-primary-light: #6AACF5;
  --ifm-color-primary-lighter: #85C0F9;
  --ifm-color-primary-lightest: #A7D3FB;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
